/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Times New Roman', Times, serif;
}
#header-nav {
  background-color: #f6b319;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.container {
  margin: 0;
  padding: 0;
}
.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 0;
  padding: 0;
}
.navbar-brand a:hover,
.navbar-brand a {
  text-decoration: none;
}
.navbar-header button.navbar-toggler {
  margin-left: 50px;
  border: 1px solid #61122f;
  padding: 10px;
}
.navbar-header .navbar-toggler-icon {
  display: block;
  width: 22px;
  height: 15px;
  color: #61122f;
  border-radius: 1px;
}
.navbar-toggler:hover {
  background-color: #ddd;
}
.navbar-nav {
  margin: 0;
  margin-bottom: 60px;
}
.nav-item {
  height: 60px;
  margin: 10px;
  text-align: center;
}
.nav-item p {
  font-weight: bold;
  font-size: 1em;
  color: #61122f;
  text-align: center;
  padding: 0;
}
.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-item p {
  margin: 0;
}
.nav-item a:hover {
  background: #e7e7e7;
  text-align: center;
}
#main-content {
  background-color: #61122f;
    margin-left: auto;
    margin-right: auto;
}
#main-content h2{
  text-align: center;
  font-size: 3em;
}
#content-page{
  display: flex;
  flex-direction: row; 
}
#content-page div {
  width: 350px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background-color: rgb(158, 157, 157);
}
#content-page p {
  font-size: 1.25em;
  text-align: center;
  width: 100px;
  border: 2px solid black;
  border-top: 0px;
  border-right: 0px;
}
#content-page .menu-item-title {
  font-weight: bold;
}
.Text1, .Text2, .Text3{
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}
.Text1 span, .Text2 span, .Text3 span{
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.Text1 p {
  background-color: rgb(239, 162, 175);
}
.Text2 p {
  color: white;
  background-color: rgb(156, 77, 77);
}
.Text3 p {
  background-color: rgb(207, 207, 148);
}

/* Media Queries */

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 25px;
    max-width: 765px;
  }
  
  .navbar-brand h1 {
    font-size: 5vw;
  }
  .navbar-nav {
    border-top: 1px solid white;
    margin: 0;
    margin-top: 5px;
  }
  .nav-item {
    padding: 5px;
    margin: 0;
  }
  .nav-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-item p {
    margin-left: 8px;
  }
  #content-page div {
    margin: 10px;
  }
  #content-page{
    justify-content: center;
  }
  #header-container{
    display: block;
  }
  .navbar-header button.navbar-toggler {
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 10px;
    border: 1px solid #61122f;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .navbar-nav {
    margin: 0;
    margin-top: -10px;
  }
  .nav-item {
    margin: 0;
  }
  #content-page >div{
    margin: 10px;
  }
  #content-page .Text3 {
    width: calc(100% - 20px);
  }
  #content-page .Text1 {
    width: calc(50% - 20px);/* as we have 10px margin so minus from both the left and
    right side so it will become 20px */
  }
  #content-page .Text2 {
    width: calc(50% - 20px);
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  #header-nav {
    background-color: #f6b319;
    margin-bottom: 20px;
    display: flex;
    padding: 0;
    justify-content: center;
  }
  #content-page div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgb(158, 157, 157);
  }
}

@media (min-width: 1200px) {
  
  #main-content{
    margin-left: auto;
    margin-right: auto;
  }
  #content-page {
    margin: 0;
  }
}
