/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #fff;
  background-color: #61122f;
  font-family: 'Times New Roman', Times, serif;
}

#header-nav {
  background-color: #f6b319;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
}

#logo-img {
  background: url(restaurant-logo_large.png);
  width: 150px;
  height: 150px;
  margin: 0px 15px 0px 0px;
}

.navbar-brand {
  display: flex;
  flex-direction: column; 
}

.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 0;
  padding: 0px; 
}

.navbar-brand a:hover, .navbar-brand a {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: 0.6em;
}

.navbar-brand span {
  vertical-align: middle;
}

.navbar-header button.navbar-toggler {
  border: 1px solid #61122f;
}

.navbar-header .navbar-toggler-icon {
  display: block;
  width: 22px;
  height: 15px;
  color: #61122f;
  border-radius: 1px;
}

.navbar-toggler:hover {
  background-color: #ddd;
}

.navbar-nav {
  margin: 0;
  margin-bottom: 60px;
}

.nav-item {
  height: 60px;
  margin: 10px; 
  text-align: center;
}

.nav-item p {
  font-weight: bold;
  font-size: 1em;
  color: #951C49;
  text-align: center;
  padding: 0px; /* Add padding for better spacing */
}
.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 
.nav-item p {
  margin: 0;
}
.nav-item a:hover {
  background: #E7E7E7;
  text-align: center;
}

#Phone > div {
  /* We Deliver */
  font-weight: bold;
  float: right;
  color: #557c3e;
  font-size: 1em;
  margin: 10px;
  margin-top: -10px;
  margin-right: 0px;
}

#Phone a {
  /* remove the padding of a */
  padding: 0px;
}

#Phone a span {
  /* 042 111 666 */
  font-weight: bold;
  color: #951C49;
  font-size: 2em;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 767px) {
 
  .navbar-header {
    display: flex;
    /* Ensure it becomes a flex container */
    flex-direction: row;
    /* Arrange the child elements vertically */
    justify-content: start;
  }
  .navbar-brand {
    height: 80px;
    align-items: flex-start;
  }
  .navbar-brand h1 {
    /* Restaurant Name */
    font-size: 5vw;
  }
  .navbar-brand p {
    /* Kosher */
    text-transform: uppercase;
  }
.navbar-toggler {
    margin: 40px -10px 1px 25px;
    padding: 0px 10px 0px 10px;
    height: 35px;
  }

  .navbar-nav {
    border-top: 1px solid white;
    margin: 0;
    margin-top: 5px;
  }

  .nav-item {
    margin-bottom: 0px;
  }
  .nav-item a {
    display: flex;
    /* Ensure it becomes a flex container */
    flex-direction: row;
    /* Arrange the icon and text in a row */
    align-items: center;
    /* Center the icon and text vertically */
    justify-content: center;
  }
  .nav-item p {
    margin-left: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #logo-img {
    display: none;
  }
  .collapse {
    margin-left: -20px;
  }
  .navbar-nav {
    margin: 10px;
  }
  .nav-item {
    margin: 0;
  }
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url(restaurant-logo_medium.png);
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0px;
  }
  .navbar-nav {
    margin-bottom: 0px;
  }
  .nav-item {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .collapse {
    display: flex;
    justify-content: flex-end;
  }
}
